/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__text {
  color: white;
  font-family: "Montserrat", Courier, sans-serif;
  font-size: 13px;
  margin-left: 17px;
}

.navbar__menu-ico {
  color: white;
  background-color: #202529;
  padding: 11px;
  font-size: 14px;
  cursor: pointer;
}

.header__content {
  background-image: url("../img/320px/header-fon_320px.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;
  margin-bottom: 4px;
}

.header__content-text {
  color: white;
  font-size: 16px;
  padding: 18px 0 0px 23px;
}

.header__content-text2 {
  color: white;
  font-size: 16px;
  padding: 8px 0 8px 21px;
}

.header__content-email {
  font-size: 15px;
  color: #9dc9d2;
  margin-left: 20px;
}

@media (min-width: 640px) {
  .navbar__text {
    font-size: 20px;
    margin-left: 40px;
  }

  .navbar__menu-ico {
    padding: 20px;
    font-size: 23px;
  }

  .header__content {
    background-image: url("../img/640px/header-fon_640px.png");
    padding-bottom: 215px;
    margin-bottom: 2px;
  }

  .header__content-text {
    font-size: 30px;
    padding: 20px 0 5px 40px;
  }

  .header__content-text2 {
    font-size: 30px;
    padding: 0 0 15px 40px;
  }

  .header__content-email {
    font-size: 27px;
    margin-left: 40px;
  }
}
@media (min-width: 980px) {
  .navbar__all-links {
    margin-left: 40px;
  }

  .navbar__all-links > a {
    color: #d3d4d4;
    text-transform: uppercase;
    margin-right: 25px;
    cursor: pointer;
  }

  .pizza-logo {
    width: 104px;
    height: 83px;
    margin: 8px 30px 6px 30px;
  }

  .header__content {
    background-image: url("/app/img/980px/header-fon 980 (1).png");
    padding-bottom: 304px;
  }

  .header__content-text {
    font-size: 45px;
    padding: 60px 0 0px 40px;
  }

  .header__content-text2 {
    font-size: 45px;
    padding: 10px 0 30px 40px;
  }

  .header__content-email {
    font-size: 35px;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .navbar__all-links {
    margin-left: 40px;
  }

  .navbar__all-links > a {
    color: #d3d4d4;
    text-transform: uppercase;
    margin-right: 25px;
    cursor: pointer;
  }

  .pizza-logo {
    width: 104px;
    height: 83px;
    margin: 8px 30px 6px 30px;
  }

  .header__content {
    background-image: url("/app/img/980px/header-fon 980 (1).png");
    padding-bottom: 423px;
  }

  .header__content-text {
    font-size: 45px;
    padding: 60px 0 0px 40px;
  }

  .header__content-text2 {
    font-size: 45px;
    padding: 10px 0 30px 40px;
  }

  .header__content-email {
    font-size: 35px;
    margin-left: 40px;
  }
}
.bgrnd1 {
  background-image: url("../img/320px/Pizza delivery fon_320px.png");
  background-position: bottom;
}

.bgrnd2 {
  background-image: url("../img/320px/UA_UX Salads fon 320_px.png");
  background-position: bottom;
}

.bgrnd3 {
  background-image: url("../img/320px/Desserts fon_320px.png");
  background-position: center;
}

.center-navigation__item {
  display: flex;
  justify-content: space-between;
}

.center-navigation__bgrnd {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}

.center-navigation__text {
  color: white;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 7px;
}

.arrow-nav {
  background-color: #acd8ad;
  padding: 30px 25px;
  margin-bottom: 2px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

@media (min-width: 640px) {
  .arrow-nav {
    padding: 70px;
  }

  .fa-angle-right:before {
    font-size: 20px;
  }

  .bgrnd1 {
    background-image: url("../img/640px/Pizza delivery_640px.png");
  }

  .bgrnd2 {
    background-image: url("../img/640px/UA_UX Salads fon_640px.png");
  }

  .bgrnd3 {
    background-image: url("../img/640px/Desserts fon_640px.png");
  }

  .center-navigation__text {
    color: white;
    font-size: 30px;
    margin-top: 54px;
  }
}
@media (min-width: 980px) {
  .center-navigation .container {
    display: flex;
    flex-direction: row;
  }
  .center-navigation .center-navigation__item {
    width: 33.5%;
  }
  .center-navigation .center-navigation__bgrnd {
    margin: 3px 0 40px 0;
    padding: 168px 0px;
    background-position-y: center;
  }
  .center-navigation .center-navigation__text {
    font-size: 30px;
    margin-top: -71px;
  }
}
@media (min-width: 1200px) {
  .center-navigation .container {
    display: flex;
    flex-direction: row;
  }
  .center-navigation .center-navigation__item {
    width: 33.5%;
  }
  .center-navigation .center-navigation__bgrnd {
    margin: 3px 0 40px 0;
    padding: 168px 0px;
    background-position-y: center;
  }
  .center-navigation .center-navigation__text {
    font-size: 30px;
    margin-top: -71px;
  }
}
.menu__heading {
  color: #3f4043;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-left: 7px;
  word-spacing: 2px;
}

.menu__text {
  color: #cbccce;
  font-size: 10px;
  margin: 5px 0;
  margin-left: 9px;
}

.menu__flex-item {
  margin-bottom: 27px;
}

.menu-section {
  padding: 9px 9px 8px 18px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

.menu-section--dark {
  color: #acd8ad;
  background-color: #3f4043;
}

.menu-section--light {
  color: white;
  background-color: #acd8ad;
  margin-bottom: 3px;
}

.dish-list {
  padding: 10px;
  color: #3f4043;
  margin-bottom: 1px;
}

.dish-list__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-list__title {
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 7px;
  font-weight: bold;
}

.dish-list__dish-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
}

.dish-list__dish-name {
  margin-left: 5px;
}

.dish-list__dish-name::before {
  content: '\00B7';
  margin-right: 4px;
}

.dish-list__dish-price {
  margin-right: -10px;
}

.dish-list__dish-describtion {
  font-size: 9px;
  text-align: justify;
  margin-left: 8px;
  margin-bottom: -4px;
}

.dish-list__ico.pizza::before {
  content: url("/app/img/320px/1pizza.png");
  margin-right: -10px;
}

.dish-list__ico.drinks::before {
  content: url("/app/img/320px/2drinks.png");
  margin-right: -5px;
}

.dish-list__ico.tea::before {
  content: url("/app/img/320px/3tea.png");
  margin-right: -10px;
}

.dish-list__ico.beer::before {
  content: url("/app/img/320px/4beer.png");
  margin-right: -5px;
}

@media (min-width: 640px) {
  .menu__heading {
    font-size: 35px;
    font-weight: normal;
    margin-left: 19px;
  }

  .menu__text {
    font-size: 17px;
    margin: 10px 0 10px 20px;
  }

  .menu-section {
    padding: 15px 25px;
    font-size: 35px;
  }

  .dish-list__heading {
    font-size: 25px;
    padding: 15px 10px;
  }

  .dish-list__title {
    text-transform: uppercase;
    font-size: 25px;
  }

  .dish-list__ico.pizza::before {
    content: url("../img/640px/1pizza_640.png");
    margin-right: -20px;
  }

  .dish-list__ico.drinks::before {
    content: url("../img/640px/2drinks_640.png");
  }

  .dish-list__ico.tea::before {
    content: url("../img/640px/3tea_640.png");
    margin-right: -20px;
  }

  .dish-list__ico.beer::before {
    content: url("../img/640px/4beer_640.png");
    margin-right: -20px;
  }

  .dish-list {
    padding: 11px 25px;
  }

  .dish-list__dish-name {
    font-size: 25px;
    font-weight: normal;
  }

  .dish-list__dish-price {
    font-size: 20px;
  }

  .dish-list__dish-describtion {
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (min-width: 980px) {
  .menu__heading {
    font-size: 29px;
    font-weight: normal;
  }

  .menu__text {
    font-size: 17px;
    margin: 10px 0 5px 20px;
  }

  .menu__title {
    position: relative;
  }

  .menu__title::after {
    content: url("/app/img/980px/Menu-logo.png");
    position: absolute;
    top: -18px;
    right: 20px;
  }

  .menu__flex-container {
    display: flex;
  }

  .menu__flex-item {
    width: 50%;
  }

  .menu-section--light {
    margin-top: 10px;
  }

  .menu-section {
    padding: 10px 5px 10px 20px;
    font-size: 26px;
    margin-top: 19px;
  }

  .dish-list__title {
    font-size: 18px;
    margin: 15px 0;
  }

  .dish-list__dish-container {
    font-size: 15px;
  }

  .dish-list__dish-describtion {
    font-size: 14px;
  }

  .dish-list__ico.pizza::before {
    content: url("/app/img/640px/1pizza_640.png");
  }

  .dish-list__ico.drinks::before {
    content: url("/app/img/640px/2drinks_640.png");
  }

  .dish-list__ico.tea::before {
    content: url("/app/img/640px/3tea_640.png");
  }

  .dish-list__ico.beer::before {
    content: url("/app/img/640px/4beer_640.png");
  }

  .dish-list__dish-name::before {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .menu__heading {
    font-size: 40px;
    font-weight: normal;
    margin-left: 20px;
  }

  .menu__text {
    font-size: 20px;
    margin: 10px 0 0px 23px;
  }

  .menu__title {
    position: relative;
  }

  .menu__title::after {
    content: url("/app/img/980px/Menu-logo.png");
    position: absolute;
    top: -18px;
    right: 20px;
  }

  .menu__flex-container {
    display: flex;
  }

  .menu__flex-item {
    width: 50%;
  }

  .menu-section {
    padding: 13px 5px 13px 23px;
    font-size: 37px;
  }

  .dish-list__title {
    font-size: 27px;
    margin: 20px 0;
  }

  .dish-list__dish-container {
    font-size: 20px;
  }

  .dish-list__dish-price {
    font-size: 28px;
  }

  .dish-list__dish-describtion {
    font-size: 16px;
  }

  .dish-list__ico.pizza::before {
    content: url("/app/img/640px/1pizza_640.png");
  }

  .dish-list__ico.drinks::before {
    content: url("/app/img/640px/2drinks_640.png");
  }

  .dish-list__ico.tea::before {
    content: url("/app/img/640px/3tea_640.png");
  }

  .dish-list__ico.beer::before {
    content: url("/app/img/640px/4beer_640.png");
  }

  .dish-list__dish-name::before {
    font-size: 30px;
  }
}
.footer {
  margin-top: 50px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", Courier, sans-serif;
  padding: 9px 11px 17px 11px;
  background-color: #acd8ad;
  text-align: center;
  color: white;
  font-size: 13px;
}

@media (min-width: 640px) {
  .footer__text {
    padding: 18px 30px;
    font-size: 17px;
    line-height: 1.6;
  }
}
@media (min-width: 980px) {
  .footer__text {
    flex-direction: row;
    padding: 35px;
    font-size: 16px;
    justify-content: flex-end;
    position: relative;
  }

  .footer__text::before {
    content: url("/app/img/980px/navigation-logo.png");
    position: absolute;
    left: 30px;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .footer__text {
    flex-direction: row;
    padding: 35px;
    font-size: 18px;
    justify-content: flex-end;
    position: relative;
  }

  .footer__text::before {
    content: url("/app/img/980px/navigation-logo.png");
    position: absolute;
    left: 30px;
    top: 0;
  }
}
.basic-page {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 980px) {
  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }
}
@media (min-width: 1200px) {
  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }
}
.navbar__dropdwn-menu {
  background-color: #fafafa;
  font-size: 12px;
  position: absolute;
  top: 37px;
  right: 0px;
}

.navbar__menu-item {
  padding: 7px 80px 9px 10px;
  border: 1px solid #f0f0f0;
}

.navbar__menu-item > a {
  color: #737373;
  cursor: pointer;
}

.navbar__dropdwn-menu > .navbar__menu-item:hover {
  background-color: #e4e4e4;
  transition: 1s;
}

@media (min-width: 640px) {
  .navbar__dropdwn-menu {
    top: 64px;
    font-size: 14px;
  }

  .navbar__menu-item {
    padding: 15px 131px 15px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
